.project {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.project__img-container {
	display: flex;
	justify-content: center;
	flex: 2;
}

.project__img {
	max-width: 100%;
	max-height: 30rem;
}

.project__text-container {
	flex: 1;
}

.project__tool-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.project__summary-item {
	list-style-position: inside;
}
